body { font-size: 16px; }

#status {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}

.prev, .next, .toc {
  bottom: 0;
  position: absolute;
}

.prev { left: 0; }
.next { right: 0; }
.toc { left: 0; text-align: center; width: 100%; }

li span { display: inline-block; margin: 0 15px 0 0; padding: 0 5px; }

thead { font-weight: bold; }