body { font-size: 16px; }

#status {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}